<!-- 
form-checkSubmission.html 
Author: Capstone Child First
  Sarah Louise Leong
Last Updated: 03 March 2015 
Description: form layout container for check submission page
-->

<h1>Confirmation</h1>
<br>

<center><h3>Form successfully submitted!</h3>
<!-- <h3>Probability of reoccurence</h3> -->
<span class="glyphicon glyphicon-heart"></span>

<br>
<br>

<!-- submit button to submit form and move to new page -->
<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.reportinfo" class="btn btn-block btn-info">
    <span class="glyphicon glyphicon-circle-arrow-left"></span> Back to form
    </a>
</div>
</div>

</center>
